h1, h2 {
	text-align: center;
	font-size: 2em;
	font-family: sans-serif;
	color: #444;
}

h2 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #565656;
}

#outlet {
	margin: 2em;
	padding: .5em;
	background-color:coral;
	color: white;
}