$fontColorMain: #444;
$linkColor: #26AA7B;

$accentColor: #A52368;
$lightAccentColor: #368E98;
$darkAccentColor: #13464B;

$mainFont: 'Webly', Arial, Helvetica, sans-serif;

@font-face {
	font-family: Lane;
    src:url(../fonts/LANENAR.ttf);
}

@font-face {
	font-family: Webly;
    src:url(../fonts/weblysleekuil.ttf);
}

@font-face {
	font-family: Lobster;
    src:url(../fonts/Lobster.otf);
}

body {
	background-color: white;
	color: $fontColorMain;
}

.container {
	min-height: 600px;
	max-width: 900px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

li,
ul {
	list-style: none;
}

#logo {
    font-weight: bold;
    font-size: 48px;
	text-align: center;
	font-family: $mainFont;
}

#outlet {
	padding: 1em;
}






/* homepage */
#world {
    margin: 0 auto;
    display: block;
    max-width: 900px;
}

.homepage a {
}

#options {
	width: 100%;
}

#options ul {
	display: flex;
	justify-content: center;
}

#options li {
	margin: 2em 20px;
	background-color: $accentColor;
	border-radius: 5px;
	display: inline-block;
	font-size: 1.25em;
	color: white;
	transition: .5s;
}

#options li:hover {
	background-color: lighten($accentColor, 15%);
	color: white;
	transition: .5s;
}

#options li a {
    width: 100%;
    display: block;
    padding: .5em 1em;
}





/* users */
.users h2 {
	text-align: center;
}





/* user */


/* createUser */
#createUser {
    
    display: block;
    width: 500px;
}

.form {
	max-width: 700px;
	margin: 0 auto;
}

.form input,
.form textarea {
	color: $fontColorMain;
	font-size: 14px;
	margin: 10px auto;
	padding: 8px;
	outline: none;
	border: 1px solid $accentColor;
	border-radius: 7px;
	transition: .5s;
}

.form textarea {
	resize: none;
	height: 250px;
}

.form .submit {
	font-size: 16px;
	color: white;
	background-color: $accentColor;
	border-radius: 7px;
	padding: 8px;
	transition: .5s;
}

.form .submit:hover {
	background-color: lighten($accentColor, 15%);
	transition: .5s;
}