<!-- Templates -->
<!-- these should eventually be compiled and externalised -->
<!-- requirejs? -->

<!-- All Users -->
<script id="users-template" type="text/template">

<h2>All Users</h2>
<% models.forEach( function(model) { %>
	<h2><a href="#user/<%= model.first %>"><%= model.first %> <%= model.last%></a></h2>
<% }); %>

</script>


<!-- Single User -->
<script id="user-template" type="text/template">

	<h3><a href="#user/<%= first %>"><%= first %></a> <%= last %></h3>

</script>

<!-- Homepage -->
<script id="homepage-template" type="text/template">

<h1>Homepage</h1>
	<nav id="options">
		<ul>
			<li>
				<a href="#new" id="createUser">New Account</a>
			</li>
			<li>
				<a href="#login" id="userLogin">Login</a>
			</li>
			<li>
				<a href="#users" id="getUsers">All Users</a>
			</li>
			<li>
				<a href="#share" id="shareStory" onclick="validateCredentials();">Create a Geist</a>
			</li>
		</ul>
	</nav>
	<img id="world" src='../img/world.png'>

</script>

<!-- Create User Form -->
<script id="create-user-template" type="text/template">

	<form method="post" action="createUser" id="createUser" class="form" onsubmit="return validateCreateUser(this)">
		<input id="username" name="username" type="text" required placeholder="Enter your username!" class="col-lg-12">
		<input id="first" name="first" type="text" required placeholder="What's your first name?" class="col-lg-6">
		<input id="last" name="last" type="text" required placeholder="What's your last name?" class="col-lg-6">
    <input id="password" name="password" type="password" required placeholder="Please enter an 8+ alphanumeric password" class="col-lg-12">
    <input id="password2" name="password2" type="password" required placeholder="Please confirm your password" class="col-lg-12">
		<textarea id="bio" name="bio" required placeholder="Tell us a little about yourself!" class="col-lg-12"></textarea>
		<input type="submit" value="Submit" class="submit col-lg-6 col-lg-push-3">
	</form>

</script>

<!-- Login Form -->
<script id="user-login-template" type="text/template">

	<form method="post" action="userLogin" id="userLogin" class="form">
		<input id="username" name="username" type="text" required placeholder="Username" class="col-lg-12">
		<input id="password" name="password" type="text" required placeholder="Password" class="col-lg-12">
		<input type="submit" value="Login" name="submit" class="submit col-lg-6 col-lg-push-3">
	</form>

</script>

<!-- Share Story Form -->
<script id="share-story-template" type="text/template">

	<form>
		<input type="file">
	</form>

</script>